html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


header {
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
    background-image: url(./assets/background-space.jpg);
    display: flex;
    align-items: center;
    
    color:#d4d4d4;
}

.logo {
  width: 100px;
}

img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  width: 400px;
  box-shadow: 6px 6px 15px rgb(0, 0, 0);
}

.img-container { 
  filter: brightness(120%);
  position: relative;
  padding:3px;
  border-radius: 10px;
}

.img-container::before {
  z-index:-1;
  position: absolute;
  content:"";
  width: 100%;
  height: 100%;
  left: 0;
  top:0;

  /* background-color: white; */
  background-image: linear-gradient(43deg, #eaf7f7 0%, #cddee9 46%, #ffffff 100%); 
  /* background-image: linear-gradient(43deg, #4c69fb 0%, #c850c0 46%, #FFCC70 100%);  */
  
  filter: blur(10px);
  
}

.gradient {
  background-color: #0b090a;
  padding: 30px;
  color: white; 
  font-size: 35px;
  font-family: arial;
  text-align: center;

}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 5rem;
  font-weight: 300;
  margin:0;
}

.birthdate-input-section {
  width: 50%;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 1900px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h2 {
  font-size: 1.4rem;
  font-weight: 300;
  display: block;
}

input[type=date] {
  display: block;
  color:#d4d4d4;
  padding: 10px 0;
  margin:20px 0;
  background-color: transparent;
  border: none;
  letter-spacing: 10px;
  font-size: 1.8rem;
  font-family: 'Inconsolata', monospace;
}

label {
  font-weight: 600;
}

button {
	color: white;
	transition: all 1s;
	position: relative;
  padding:10px 45px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size:1.5rem;
  font-family: 'Inconsolata', monospace;
	background-color: transparent;
}
button:hover {
  cursor: pointer;
}

button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  background-color: rgba(12, 12, 12, 0.363);
	height: 100%;
	z-index: 1;
  color: black;
	/* background-color: transparent; */
	transition: all 0.6s;
}
button:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.6s;
	border: 1px solid rgba(255, 255, 255, 0.671);
	transform: scale(1.2,1.2);
}
button:hover::after {
	opacity: 1;
	transform: scale(1,1);
}
footer {
    text-align: center;
    background-color: rgba(31, 31, 31, 0.37);
    color: white;
    font-family: 'Karla', sans-serif;
    padding:5px;
    font-size: .9rem;
    font-weight: 200;
    line-height: .7;
    /* letter-spacing: 7px; */
    /* text-transform: uppercase; */
    position: fixed;
    bottom: 0;
    margin:0 auto;
    width: 100%;
}

a {
    color:white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #0e3d8f;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}



@media (max-width: 992px) {

  .text-break {
        display: block;
    }

  header {
    align-items: flex-start;
  }

  h1 {
    font-size:3.4rem;
  }

  .wrapper {
    flex-direction: column;
    text-align: center;
    margin:0 auto;
    padding:0;
  }

  .birthdate-input-section {
    width: 100%;
    margin-top:20px;
  }

  input[type="date"] {
    margin: 0 auto;
  }
  
  button{
    margin:30px;
  }
  
  .logo {
    margin: 0 auto;
  }

  .img-container {
    width: 80%;
    margin: 0 auto;
    margin-top:30px;
  }

}